// Accent colors
// -------------------------
$white:					#ffffff;
$black: 				#000000;
$mine-shaft:			#222222;
$tundora:               #444444;
$forest-green:          #209e3d;
$dove-gray:             #666666;
$tree-poppy:            #f7941e;
$green-pea:             #1e723f;
$atlantis:              #89c536;
$atlantis-lt:           #8ac639;
$tara:                  #e3f8e4;
$sushi:                 #8dc63f;
$mystic:                #ddeae7;
$shark:                 #2b2f31;
$porcelain:             #e1e5e7;
$silver:                #cccccc;
$nevada:                #5b666b;
$nevada-dk:             #6c767a;
$mako:                  #40474e;
$shark:                 #2b2f32;
$alto:                  #d4d4d4;
$mine-shaft:            #212121;
$gray:                  #848484;
$yellow:                #fff200;

