/***************************************************************** 
   Style Index
------------------------------------------------------------------   	  
   00 Import Stylesheets
   
   01 Body Styles
      1.1 Main Wrapper Styles
   
   02 Header Section Styles
   	  2.1  Top Header with Navigation & Search Section
   	  
   03 Main Content Section Styles
	  3.1 Modal Window Styles
	  3.2 Landing/Home Page Styles
	  3.2 Qoutes Commodities Page Styles

   04 Footer Section Styles
	  4.1 Footer List Links
	  
   05 Common Styles
	  5.1 Icons Styles
	  5.2 Accordion Styles
	  5.3 Checkbox & Radio button Styles
	  5.4 Common Class Styles
*****************************************************************/
/************************************************************************************

=========================== 00 Import Stylesheets ================================= 

************************************************************************************/
@import "module/colors";
@import "module/variable";
@import "module/mixin";
@import "vendor-css/dd";
@import "vendor-css/icomoon";
//@import "vendor-css/amchart-export";


/************************************************************************************

=========================== 01 Body Style ================================= 

************************************************************************************/
/* {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
*/
html {
  min-height: 100%;
  position: relative;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
  outline:0px !important;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
}


body {
  font-family: $font-family-ubunturegular;
  color: $mine-shaft;
  padding-top: $padding-base-5 * 19;
  position: static;
  @include transition-none(none);

  &.overflownone {
    overflow: hidden;
  }
}
ul {margin: $margin-none; padding: $padding-none;}
ul li {list-style: none;}
a, a:hover, a:focus {text-decoration: none;}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: $margin-base-5 * 4;
  margin-bottom: $margin-base-5 * 2;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-ubunturegular;
}
h2 {
  line-height: 30px;
}
h3 {
  font-size: $font-size-large + 6;
  line-height: 23px;
}
h4 {
  line-height: 23px;
  font-size: $font-size-large;
  margin: ($margin-base-5 * 2) $margin-none;
}
.headingfive {
  font-size: $font-size-small + 2;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin: ($margin-base-5 * 2) $margin-none;
}
.para-txt {
  margin: $margin-none $margin-none ($margin-base-5 * 2);
}


@font-face {
  font-family: 'ubuntumedium';
  src: url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu-m-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ubunturegular';
  src: url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu-r-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ubuntulight';
  src: url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu-l-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ubuntubold';
  src: url('../fonts/ubuntu-b-webfont.woff2') format('woff2'),
  url('../fonts/ubuntu-b-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/************************************************************************************

=========================== 02 Header Section Styles ================================= 

************************************************************************************/

/****************************************
   2.1 Top Header with Navigation & Search Section
****************************************/
header {
  position: fixed;
  top:0;
  z-index: 999;
  width: 100%;
  height: 96px;
  margin: auto;
  background: $white;
  @include box-shadow(0px 2px 9px 0px rgba(50, 50, 50, 0.2));

  .header-top {
    background: $porcelain;
    padding: $padding-base-5 ($padding-base-5 * 3);

    .share-mkt-highlight {
      li {
        display: inline-block;
        margin-right: $margin-base-5 * 5;

        a {
          display: block;
          padding: 5$padding-base-5;
          color: $dove-gray;
          text-decoration: none;
          font-size: $font-size-small;

          i {
            display: inline-block;
            width: 15px;
            height: 10px;
            vertical-align: top;
            margin-top: ($margin-base-5 - 3);
            color: #29b259;
          }

          .highlight-tx {
            margin: $margin-none ($margin-base-5 - 3);
            color: $black;
          }

          .col-green {
            color: $forest-green;

            .mb-hide {
              @media screen and (max-width: 480px) {
                display: none;
              }
            }
          }

          @media screen and (max-width: 480px) {
            font-size: 11px;
          }
        }
        @media screen and (max-width: 360px) {
          margin-right: 5px;
        }
      }
    }
  }

  .header-main {
    position: relative;

    .header-area {
      padding: ($padding-base-5 * 3) $padding-none $padding-none $padding-none;

      .header-left {
        float: left;

        .header-lt-sec {
          .logo {
            float: left;
            margin-bottom: $margin-none;

            .hamburg-menu-btn {
              display: none;

              //mobile menu
              @media screen and (max-width: 1005px) {
                display: inline-block;
                vertical-align: middle;
              }
            }
          }

          .menu-lt-ar {
            float: left;
            margin-left: $margin-base-5 * 5;

            .mobile-menu {
              display: none;

              .menu-list-dt {
                li {
                  display: block;

                  &.sub-item {
                    &.active {
                      background: #f1f1f1;
                    }
                  }

                  a {
                    display: block;
                    padding: 10px;
                    color: $tundora;
                    font-family: $font-family-ubuntumedium;
                    font-size: $font-size-small + 1;

                    i {
                      display: inline-block;
                      vertical-align: middle;
                      margin-right: 10px;
                    }
                  }

                  .sub-menu-dt-ar {
                    display: none;

                    .sub-menu-dt-list {
                      margin-left: 58px;

                      li {
                        a {
                          color: #777777;
                        }
                      }
                    }
                  }
                }
              }

              @media screen and (max-width: 1005px) {
                display: block;
              }
            }

            .mobile-header-link {
              display: none;
              padding: 20px 0;
              border-bottom: 1px solid #ccc;

              .header-links {
                margin-bottom: 20px;

                li {
                  display: inline-block;
                  border-right: 1px dotted #000;

                  &:last-child {
                    border-right: 0;
                  }

                  a {
                    display: block;
                    padding: 0 10px;
                    text-transform: uppercase;
                  }

                  &.build-wealth {
                    a {
                      color: #f7941e;
                    }
                  }
                }
              }

              .account-links {
                display: block;
                vertical-align: middle;
                width: 120px;
                margin: 0px 10px;
                padding: 5px 10px;
                background: $atlantis-lt;
                color: #ffffff;
                border-radius: 4px;
                text-align: center;
              }

              @media screen and (max-width: 1005px) {
                display: block;
              }
            }

            .menu-list {
              > li {
                display: inline-block;
                float: left;

                > a {
                  display: block;
                  padding: ($padding-base-5 + 3) ($padding-base-5 * 3) ($padding-base-5 * 5) - 1 ($padding-base-5 * 3);
                  font-size: $font-size-small + 1;
                  color: $tundora;
                  text-transform: uppercase;
                  font-family: $font-family-ubuntumedium;

                  &:hover {
                    color: $sushi;
                  }

                  @media screen and (max-width: 1170px) {
                    padding: ($padding-base-5 + 3) ($padding-base-5 * 2);
                  }
                }

                &.sub-item{
                  &:hover{
                    .sub-menu-ar {
                      @media screen and (min-width: 1005px) {
                        display: block;
                      }
                    }
                  }
                }

                .sub-menu-ar {
                  display: none;
                  position: absolute;
                  background: $white;
                  padding: ($padding-base-5 * 3);
                  width: 100%;
                  left: 0;
                  top: 65px;

                  //mobile menu
                  @media screen and (max-width: 1005px) {
                    position: relative;
                    top:0;
                    left: 0;

                    &.active {
                      display: block;
                    }
                  }

                  .container {
                    .row {
                      > .col-md-3 {
                        //mobile menu
                        @media screen and (max-width: 1005px) {
                          display: block;
                          width: 100%;
                          padding: 0;
                        }
                      }
                    }
                    //mobile menu
                    @media screen and (max-width: 1005px) {
                      width: 100%;
                    }
                  }

                  &:before {
                    content: '';
                    background: $atlantis;
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    left: 0;
                    top: 0;
                  }

                  .sub-menu-list {
                    text-align: center;

                    li {
                      display: inline-block;

                      a {
                        display: block;
                        padding: ($padding-base-5 + 3) ($padding-base-5 * 3);
                        font-size: $font-size-small + 1;
                        color: #444444;
                        text-transform: uppercase;
                        font-family: $font-family-ubuntumedium;

                        i {
                          display: inline-block;
                          margin-top: -7px;
                        }

                        //mobile menu
                        @media screen and (max-width: 1005px) {
                          padding: ($padding-base-5 + 3) $padding-none;
                        }
                      }
                      //mobile menu
                      @media screen and (max-width: 1005px) {
                        display: block;
                      }
                    }
                    //mobile menu
                    @media screen and (max-width: 1005px) {
                      text-align: left;
                    }
                  }

                  .sub-large-menu{
                    border-right: 1px solid #e8e8e8;
                    min-height: 290px;
                    margin: ($margin-base-5 * 3) $margin-none;

                    .sub-menu-fluid {
                      &.prod-service {
                        li {
                          margin-bottom: ($margin-base-5 * 3);
                        }
                      }

                      li {
                        display: block;

                        a {
                          display: block;
                          padding: ($padding-base-5 + 3) ($padding-base-5 * 3);
                          font-size: $font-size-small + 1;
                          color: $green-pea;
                          text-transform: uppercase;
                          font-family: $font-family-ubuntumedium;

                          i {
                            display: inline-block;
                            margin: -7px $margin-base-5 $margin-none $margin-none;
                          }

                          //mobile menu
                          @media screen and (max-width: 1200px) {
                            padding: ($padding-base-5 + 3) ($padding-base-5);
                          }
                        }
                      }
                    }

                    .sub-menu-service {
                      margin-left: 67px;

                      li {
                        a {
                          color: $tundora;
                          display: block;
                          padding: $padding-base-5 $padding-none;
                          font-size: $font-size-small + 2;
                          font-family: $font-family-ubuntumedium;
                        }

                        ul {
                          margin: ($margin-base-5 * 2) $margin-none $margin-none ($margin-base-5 * 2);

                          li {
                            margin-bottom: $margin-base-5;

                            a {
                              color: $sushi;
                              display: block;
                              padding: $padding-none;
                              font-family: $font-family-ubunturegular;
                            }
                          }
                        }
                      }
                    }
                    //mobile menu
                    @media screen and (max-width: 1005px) {
                      border: none;
                      min-height: auto;
                    }
                  }

                }
                //mobile menu
                @media screen and (max-width: 1005px) {
                  display: block;
                  float: none;
                }
              }
              //mobile menu
              @media screen and (max-width: 1005px) {
                display: none;
              }
            }

            //mobile menu
            @media screen and (max-width: 1005px) {
              display: none;

              &.active {
                display: block;
                position: fixed;
                background: #fff;
                left: 0;
                top: 96px;
                width: 75%;
                height: 100%;
                margin: 0;
                max-width: 450px;
                overflow: auto;
                border-top: 3px solid $atlantis-lt;
                padding: 5px 0px;
              }
            }
          }
        }
      }

      .header-right {
        float: right;

        .header-links {
          display: inline-block;
          vertical-align: middle;

          li {
            display: inline-block;
            border-right: 1px dotted $silver;

            &:last-child {
              border-right: none;
            }

            &.build-wealth {
              a {
                color: $tree-poppy;
              }
            }

            &.active-trade {
              a {
                color: $green-pea;
              }
            }

            a {
              display: block;
              padding: $padding-base-5 ($padding-base-5 * 2);
              text-transform: uppercase;
            }
          }

          @media screen and (max-width: 1005px) {
            display: none;
          }
        }

        .account-links {
          display: inline-block;
          vertical-align: middle;
          margin: $margin-none ($margin-base-5 * 3);
          padding: ($padding-base-5 - 3) ($padding-base-5 * 2);
          background: $atlantis-lt;
          color: $white;
          border-radius: $base-border-radius;

          @media screen and (max-width: 1170px) {
            margin: $margin-none ($margin-base-5 * 2);
          }
          @media screen and (max-width: 1005px) {
            display: none;
          }
        }

        .search-links {
          display: inline-block;
          vertical-align: middle;

          li {
            display: inline-block;

            a {
              display: block;
              padding: ($padding-base-5 - 3) ($padding-base-5 + 3);

              i {
                font-size: 20px;
                color: $tundora;
              }
            }
          }
        }
      }
    }
  }
}


/************************************************************************************

=========================== 03 Main Content Section Styles =========================== 

************************************************************************************/

/**************************************** 
   3.1 Modal Window Styles
****************************************/

.modal-dialog {
  width: 420px;
}

.modal {
  text-align: center;
  background: -moz-linear-gradient(92deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.6)), color-stop(100%, rgba(0,0,0,0.6))); /* safari4+,chrome */
  background: -webkit-linear-gradient(92deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(92deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(92deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* ie10+ */
  background: linear-gradient(358deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 ); /* ie6-9 */

  &:before {
    display: $dis-inblock;
    vertical-align: middle;
    content: " ";
    height: $base-height-full;
  }
}

.modal-dialog {
  display: $dis-inblock;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
  @include border-radius(0);
}

.modal-backdrop.in {
  opacity: 0.9;
}


/****************************************
   3.2 Landing/Home Page Styles
****************************************/
/* banner */
.banner-area {
  .banner-list {
    li {
      display: inline-block;
      padding: $padding-none;
      position: relative;
      height: 500px;
      overflow: hidden;

      &:last-child {
        > img {
          border-right: none;
        }
      }

      > img {
        width: 100%;
        border-right: 1px solid $white;

        @media screen and (max-width: 767px) {
          border-right: none;
        }
      }

      .banner-content {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;

        .banner-table {
          display: table;
          width: 100%;
          height: 100%;
        }

        .banner-cell {
          display: table-cell;
          vertical-align: middle;
          padding: 30px;

          .banner-cate-icon {
            margin-bottom: $margin-none;
            background: $tara;
            width: 65px;
            height: 65px;
            @include border-radius(50px);
            padding: ($padding-base-5 * 2) + 3;
            margin-bottom: ($margin-base-5 * 3);

            span {
              &.icon-ic_banner_fast {
                font-size: 38px;
              }
              &.icon-ic_banner_high_returns {
                font-size: 36px;
              }
              &.icon-ic_banner_tools {
                font-size: 36px;
              }
            }
          }

          p {
            font-size: $font-size-large + 6;
            color: $white;
            margin-bottom: ($margin-base-5 * 6);

            span {
              display: block;
              font-size: $font-size-large * 2;
              line-height: 38px;
              font-family: 'ubuntubold';

              @media screen and (max-width: 1170px) {
                font-size: $font-size-large + 10;
              }
            }

            @media screen and (max-width: 1170px) {
              font-size: $font-size-large + 4;
            }
            @media screen and (max-width: 1170px) {
              font-size: $font-size-large - 2;
            }
          }

          a {
            color: $white;
            display: block;

            .plus-ico {
              background: $sushi;
              color: $white;
              padding: 1px;
              width: 30px;
              height: 30px;
              @include border-radius(50px);
              display: inline-block;
              font-size: 26px;
              text-align: center;
              line-height: 25px;
              margin-right: $margin-base-5;
            }
          }
        }
      }

      @media screen and (max-width: 1366px) {
        height: auto;
      }
      @media screen and (max-width: 767px) {
        height: 450px;
      }
      @media screen and (max-width: 640px) {
        height: 350px;
      }
    }
  }
}

/* mobile app */
.mobile-lunch-app {
  background: #ddeae7;

  .mobile-ads-tx {
    margin: ($margin-base-5 * 11) $margin-none ($margin-base-5 * 11) ($margin-base-5 * 11);

    h3 {
      font-size: ($font-size-large + 12);
      color: $mine-shaft;
      margin-bottom: ($margin-base-5 * 3);

      @media screen and (max-width: 1170px) {
        font-size: ($font-size-large + 6);
      }
    }

    p {
      font-size: 16px;
      color: #666666;
      margin-left: 5px;
    }

    .mobile-app-icons {
      margin: ($margin-base-5 * 3) $margin-none ($margin-base-5 * 3) $margin-none;

      li {
        display: inline-block;
        border: 1px solid $tundora;
        width: 35px;
        height: 35px;
        @include border-radius(50px);
        margin-right: ($margin-base-5 * 3);

        a {
          padding: $padding-none ($padding-base-5 - 4);
          display: block;

          i {
            font-size: 32px;
            color: $tundora;
          }
        }
      }
    }

    @media screen and (max-width: 970px) {
      margin: ($margin-base-5 * 11) $margin-none ($margin-base-5 * 3) ($margin-base-5 * 3);
    }
  }

  .mobile-ads-img {
    margin: ($margin-base-5 + 4) $margin-none $margin-none $margin-none;

    img {
      @media screen and (max-width: 970px) {
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        width: auto;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
    @media screen and (max-width: 767px) {
      text-align: right;
      margin-top: -25px;
    }
  }
}

/* Why Religare */
.religare-service-ar {
  .religare-sev-tx {
    text-align: center;

    .font-icons {
      span {
        font-size: 120px;
      }
    }

    h3 {
      margin: ($margin-base-5 * 5) $margin-none ($margin-base-5 * 2) $margin-none;
      font-size: $font-size-large + 6;

      @media screen and (max-width: 1170px) {
        font-size: $font-size-large + 2;
      }
      @media screen and (max-width: 991px) {
        font-size: $font-size-large;
      }
      @media screen and (max-width: 800px) {
        font-size: $font-size-large;
        min-height: 46px;
      }
      @media screen and (max-width: 767px) {
        min-height: auto;
        margin: ($margin-base-5 * 4) $margin-none ($margin-base-5 * 2) $margin-none;
      }
    }

    p {
      font-size: $font-size-medium;
      color: $dove-gray;

      @media screen and (max-width: 991px) {
        font-size: $font-size-large - 2;
      }
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

/* Company visitor*/
.company-visitor-count {
  background: $nevada;

  .user-visit-ar {
    .visit-user-cnt {
      padding: ($padding-base-5 * 3) ($padding-base-5 * 6);

      .visit-user-icon {
        height: 102px;
        position: relative;
        margin-bottom: ($margin-base-5 * 5);

        &:after {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 40px;
          height: 3px;
          background: $sushi;
          content: '';

          @media screen and (max-width: 767px) {
            display: none;
          }
        }

        &.font-icons {
          span {
            font-size: 75px;
          }
        }

        @media screen and (max-width: 767px) {
          height: auto;
        }
      }
      h3 {
        color: $white;
        font-family: 'ubuntubold';
        line-height: 42px;
        font-size: 42px;
        margin: ($margin-base-5 * 3) $margin-none ($margin-base-5 * 2) $margin-none;

        @media screen and (max-width: 1200px) {
          font-size: 30px;
        }
      }

      p {
        color: $white;
        margin-bottom: $margin-none;
      }
      @media screen and (max-width: 1200px) {
        padding: ($padding-base-5 * 3) ($padding-base-5 * 2);
      }
      @media screen and (max-width: 767px) {
        text-align: center;
        padding: ($padding-base-5 * 3) $padding-base-5;
        margin-bottom: ($margin-base-5 * 5);
      }
    }

    > .col-xs-6 {
      @media screen and (max-width: 360px) {
        width: 100%;
        display: block;
        float: none;
      }
    }
  }
}

/* Profile Number */
.profile-number-bx {
  background: $nevada-dk;
  padding: ($padding-base-5 * 6) $padding-none;
}
.profile-num {
  p {
    margin: $margin-none;
  }
  .profits-tx {
    font-size: $font-size-large + 6;
    color: $white;
    text-align: right;
    margin-top: $margin-base-5;

    @media screen and (max-width: 991px) {
      text-align: center;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 640px) {
      font-size: $font-size-large;
    }
  }

  .profile-ip-bx {
    position: relative;
    width: 450px;

    .flag-tx {
      float: left;

      .ddcommon {
        width: 82px !important;
        border-radius: 0;
        border: none;

        .divider, .ddArrow {
          display: none;
          border: none;
        }

        .ddTitle {
          background: $white;
          border: none;
          border-radius: 0;
          border-top-left-radius: $base-border-radius;
          border-bottom-left-radius: $base-border-radius;

          .ddTitleText {
            padding: ($padding-base-5 * 3) ($padding-base-5 * 2);
            height: 48px;
          }
        }

        .ddChild {
          width: 150px;
        }
      }

      img {
        display: inline-block;
        vertical-align: top;
        margin: ($margin-base-5 - 1) $margin-base-5 $margin-none $margin-none;
      }
    }
    .profile-ip {
      float: left;
      padding: ($padding-base-5 * 3) - 1 ($padding-base-5 * 2);
      border: none;
      border-left: 1px solid $silver;
      width: 80%;
      height: 48px;

      @media screen and (max-width: 640px) {
        width: 66%;
      }
    }
    .submit-btn {
      //float: left;
      position: absolute;
      right: 0;
      display: block;
      background: $sushi;
      padding: 14px;
      width: 94px;
      height: 48px;
      text-align: center;
      color: $white;
      border-top-right-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;

      @media screen and (max-width: 480px) {
        width: 80px;
        padding: 14px 0;
      }
    }

    @media screen and (max-width: 991px) {
      width: 80%;
      margin: auto;
    }
    @media screen and (max-width: 640px) {
      width: 90%;
    }
    @media screen and (max-width: 640px) {
      width: 95%;
    }
  }
}

/****************************************
   3.2 Qoutes Commodities Page Styles
****************************************/
.sliver-micro-ar {
  padding: ($padding-base-5 * 6) $padding-none;

  .charts-heading {
    .charts-heading-lt {
      float: left;

      h2 {
        margin: $margin-none;
        padding: $padding-none;
        font-size: $font-size-large + 8;
        font-family: 'ubuntumedium';
        color: $mine-shaft;
      }
    }
    .charts-heading-rt {
      float: right;
      background: $mako;
      padding: ($padding-base-5 * 2);

      p {
        color: $white;
        margin: $margin-none;
      }
    }
  }
}

/************************************************************************************

=========================== 04 Footer Styles ============================

************************************************************************************/

/****************************************
   4.1 Footer List Links
****************************************/
.footer-area {
  padding: ($padding-base-5 * 5) $padding-none;
  background: $shark;
}
.footer-links {
  margin-bottom: ($margin-base-5 * 7);

  .footer-page-link {
    h4 {
      color: $white;
      font-size: $font-size-small + 2;
      position: relative;

      &.ft-link-title {
        &:after {
          @media screen and (max-width: 991px) {
            content: '+';
            position: absolute;
            right: 0;
            top: -3px;
            font-size: 28px;
          }
        }

        &.active {
          &:after {
            content: '-';
            right: 4px;
          }
        }
      }
    }

    .footer-link-list {
      margin-left: ($margin-base-5 * 3);

      li {
        list-style: disc;
        color: $white;

        a {
          color: $alto;
          display: block;
          padding: $padding-base-5 $padding-none;
        }

        .ft-sub-menu {
          margin-left: ($margin-base-5 * 3);

          li {
            list-style: none;
            position: relative;

            &:before {
              content: '-';
              position: absolute;
              left: -15px;
              top: 2px;
              font-size: 19px;
              color: $white;
              font-family: 'ubuntulight';
            }
          }
        }

      }

      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    @media screen and (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 991px) {
    margin-bottom: 0;
  }
}


.ft-download-app {
  margin-bottom: ($margin-base-5 * 7);

  .profile-num {
    .profits-tx {
      float: left;
      font-size: 14px;
      margin: ($margin-base-5 * 3) ($margin-base-5 * 3) $margin-none $margin-none;

      @media screen and (max-width: 767px) {
        float: none;
        text-align: center;
        margin: $margin-base-5 ($margin-base-5 * 3) ($margin-base-5 * 3) $margin-none;
      }
    }

    .profile-ip-bx {
      float: left;

      .profile-ip {
        @media screen and (max-width: 991px) {
          width: 76%;
        }
        @media screen and (max-width: 480px) {
          width: 65%;
        }
      }

      .submit-btn {
        @media screen and (max-width: 360px) {
          width: 70px;
        }
      }
      @media screen and (max-width: 991px) {
        width: 410px;
      }
      @media screen and (max-width: 767px) {
        float: none;
        margin: auto;
      }
      @media screen and (max-width: 480px) {
        width: 90%;
      }
      @media screen and (max-width: 360px) {
        width: 98%;
      }
    }
  }

  .android-apply-ic {
    text-align: right;

    li {
      display: inline-block;
      //padding: $padding-base-5;
      margin: $margin-none $margin-base-5;
      border-radius: 4px;

      &.font-icons {
        span {
          font-size: 38px;
        }
      }

      &.andriod-ic {
        background: $mine-shaft;
        &.font-icons {
          span {
            color: $sushi;
          }
        }
      }

      &.apple-ic {
        background: $white;
        &.font-icons {
          span {
            color: $tundora;
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      text-align: center;
      margin-top: 15px;
    }
  }
}

.sitemap-area {
  margin-bottom: ($margin-base-5 * 6);

  .sitemap-sec {
    .site-link-list {
      margin-top: $margin-base-5;

      li {
        float: left;
        border-right: 1px solid $sushi;

        &:first-child {
          a {
            padding-left: $padding-none;
          }
        }

        &:last-child {
          border: none;
        }

        a {
          display: block;
          padding: $padding-none ($padding-base-5 * 2);
          color: $sushi;
        }

        @media screen and (max-width: 767px) {
          float: none;
          display: inline-block;
        }
      }
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }

    .ft-social-link {
      text-align: right;

      &.font-icons {
        span {
          font-size: 24px;
        }
      }

      li {
        display: inline-block;
        margin-left: $margin-base-5;


      }

      @media screen and (max-width: 767px) {
        text-align: center;
        margin-top: 15px;
      }
    }
  }
}

.ft-logo-content {
  padding: ($padding-base-5 * 6) $padding-none;

  .ft-logo {
    margin-bottom: $margin-base-5 * 2;
  }

  p {
    color: $gray;
    margin-bottom: ($margin-base-5 * 3);

    &:last-child {
      margin-bottom: $margin-none;
    }

    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
}

/************************************************************************************

=========================== 05 Common Styles ============================

************************************************************************************/

/****************************************
   5.1 Icons Styles
****************************************/
.icons {
  background-image: url("../images/spirit-icon.png");
  background-repeat: no-repeat;
  display: block;
  height: 25px;
  width: 25px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;

  &.up-icon {
    background-position: -7px -6px;
  }

  &.down-icon {
    background-position: -7px -16px;
  }

  &.user-icon {
    background-position: -3px -30px;
  }

  &.search-icon {
    background-position: -28px -30px;
  }

  &.andriod-icon {
    background-position: -28px -5px;
  }

  &.apple-icon {
    background-position: -52px -5px;
  }

  &.andriod-big-icon {
    background-position: -4px -79px;
  }

  &.apple-big-icon {
    background-position: -40px -79px;
  }

  &.fb-icon {
    background-position: -6px -220px;
    width: 34px;
    height: 34px;
  }
  &.tw-icon {
    background-position: -47px -220px;
    width: 34px;
    height: 34px;
  }
  &.link-icon {
    background-position: -89px -220px;
    width: 34px;
    height: 34px;
  }
  &.youtube-icon {
    background-position: -131px -220px;
    width: 34px;
    height: 34px;
  }
  &.gplus-icon {
    background-position: -173px -220px;
    width: 34px;
    height: 34px;
  }
  &.equity-icon {
    background-position: -5px -267px;
    width: 44px;
    height: 34px;
  }
  &.derivatives-icon {
    background-position: -60px -268px;
    width: 44px;
    height: 34px;
  }
  &.commodities-icon {
    background-position: -113px -268px;
    width: 44px;
    height: 34px;
  }
  &.currency-icon {
    background-position: -165px -268px;
    width: 30px;
    height: 34px;
  }
  &.mutual-fund-icon {
    background-position: -202px -266px;
    width: 44px;
    height: 38px;
  }
  &.product-service-icon {
    background-position: -253px -268px;
    width: 37px;
    height: 38px;
  }
  &.about-religare-icon {
    background-position: -305px -268px;
    width: 37px;
    height: 38px;
  }
  &.market-overview-icon {
    background-position: -5px -267px;
    width: 44px;
    height: 34px;
  }
  &.research-reports-icon {
    background-position: -349px -266px;
    width: 44px;
    height: 38px;
  }
  &.tools-icon {
    background-position: -397px -266px;
    width: 44px;
    height: 38px;
  }
  &.hamburg-menu-icon {
    background-position: -80px -79px;
    width: 25px;
    height: 25px;
  }
}

/****************************************
   5.2 Accordion Styles
****************************************/

.investor-title {
  border-top: 1px solid #545859;
  border-bottom: 1px solid #545859;
  cursor: pointer;
  color: $white;
  padding: ($padding-base-5 * 2) $padding-none;
  position: relative;

  &:after {
    content: '+';
    position: absolute;
    right: 0;
    top: -3px;
    font-size: 28px;
  }

  &.active {
    &:after {
      content: '-';
      right: 4px;
    }
  }
}

.investor-content {
  //background: #95B1CE;
  color: $white;
}


/****************************************
   5.3 Checkbox & Radio button Styles
****************************************/
.custom-radiobutton {
  opacity:0;
  filter:alpha(opacity=0);
  left:-9999px;
  position:absolute;
}

.custom-radiobutton-display {
  display:inline-block;
  margin:0 5px;
  cursor:pointer;
  font-size:0;
  width:18px;
  position:relative;
  z-index:2;
  height:18px;
  vertical-align:middle;
  /*background:url("../images/radio-bg.png") center 0 no-repeat;*/
  border: 1px solid #ccc;
}

.custom-radiobutton-checked.custom-radiobutton-checked {border-color: #66c6a3;}
.custom-radiobutton-display:before {
  content:' ';
  display:inline-block;
  width:14px;
  height:14px;
}

.custom-radiobutton-display.custom-radiobutton-checked:before {
  background: #66c6a3;
}


/********************************************************
	4.3 Custom checkbox and radio buttons
********************************************************/

input[type=checkbox].css-checkbox, input[type=radio].css-radio {
  display: none;
}
input[type=checkbox].css-checkbox + .css-label, input[type=radio].css-radio + .css-label {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type=checkbox].css-checkbox + .css-label:hover, input[type=radio].css-radio + .css-label:hover {
  color: #363636;
}
input[type=checkbox].css-checkbox.css-checkbox + .css-label:before, input[type=checkbox].css-checkbox.css-radio + .css-label:before, input[type=radio].css-radio.css-checkbox + .css-label:before, input[type=radio].css-radio.css-radio + .css-label:before {
  border: 2px solid #a3a4a4;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 12px;
  margin-right: 10px;
  margin-top: -4px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
input[type=checkbox].css-checkbox.css-checkbox:checked + .css-label:before, input[type=checkbox].css-checkbox.css-radio:checked + .css-label:before, input[type=radio].css-radio.css-checkbox:checked + .css-label:before, input[type=radio].css-radio.css-radio:checked + .css-label:before {
  content: "";
  background: url("../images/sprite-icons.png") -54px -8px;
  background-color: #34bfa3;
  border-color: #34bfa3;
  color: #ffffff;
  font-size: 12px;
}
input[type=checkbox].css-checkbox.css-radio:checked + .css-label:before, input[type=radio].css-radio.css-radio:checked + .css-label:before {
  content: "\25cf";
  background-color: #fff;
  border-color: #2b49d1;
  font-size: 24px;
  line-height: 10px;
  color: #2b49d1;
}
input[type=checkbox].css-checkbox.css-checkbox:disabled + .css-label:before, input[type=checkbox].css-checkbox.css-radio:disabled + .css-label:before, input[type=radio].css-radio.css-checkbox:disabled + .css-label:before, input[type=radio].css-radio.css-radio:disabled + .css-label:before {
  color: #80a5dc;
  border-color: #80a5dc;
  background-color: #f3f3f3;
}
input[type=checkbox].css-checkbox.css-radio + .css-label:before, input[type=radio].css-radio.css-radio + .css-label:before {
  content: '';
  width: 19px;
  height: 19px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.filter-list input[type=radio].css-radio.css-radio:checked + .css-label:before {
  font-size: 13px;
  line-height: 13px;
}
.filter-list input[type=radio].css-radio.css-radio + .css-label:before {
  width: 16px;
  height: 16px;
}
//
//.same-addrs .css-checkbox[type="checkbox"]:checked + .css-label::before {
//  background-color: #ffffff !important;
//  border-color: #888888 !important;
//  color: #075c98 !important;
//  font-size: 16px !important;
//  line-height: 15px !important;
//}
//.same-addrs label {
//  font-weight: normal;
//}
//.same-addrs input[type=checkbox].css-checkbox[type="checkbox"] + .css-label::before {
//  height: 17px;
//  width: 17px;
//  border-color: #bababa;
//}


/********************************************************
   5.4 Common Class Styles
********************************************************/

.main-container {
  width: 1366px;
  margin: auto;

  @media screen and (max-width: 1365px) {
    width: 98%;
  }
}

.container {
  @media screen and (max-width: 1200px) {
    width: 98%;
  }
}

.white-bg {
  background: $white;
}

/*********** Overlay Styles **************/
.overlay-bg {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 9;

  &.active {
    display: block;
  }
}
/* heading */
.heading-bx {
  position: relative;
  text-align: center;
  min-height: 63px;
  margin: $margin-none $margin-none ($margin-base-5 * 10) $margin-none;

  h2 {
    font-size: 32px;
    color: $mine-shaft;
    margin: $margin-none;
  }

  .heading-line {
    width: 100%;
    position: absolute;;
    bottom: 0;

    p {
      width: 100px;
      margin: $margin-none auto;
      height: 3px;

      &.green-line {
        background: $sushi;
      }

      &.yellow-line {
        background: $yellow;
      }
    }
  }
}

.content-pd {
  padding: ($padding-base-5 * 12) $padding-none;
}

.border-none {
  border: none !important;
}

.font-icons {
  span {
    font-size: 36px;
  }
}


/* Mobile menu */
.menue{
  width: 30px;
  margin: 8px 8px 0 0;
  cursor: pointer;
  height: 25px;
  float: left;
  display: none;

  .hamburger {
    list-style: none;

    li {
      height: 3px;
      width: 27px;
      background: $dove-gray;
      content: '';
      left: 0px;
      position: relative;
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out;

      &.rot45deg {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 10px !important;
      }

      &.rot-45deg {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 7px !important;
      }

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 5px;
      }

      &:nth-child(3) {
        top: 10px;
      }
    }
  }

  .menu-hamburg {
    position: absolute;
    top: 19px;
    left: 61px;
    font-size: 14px;
    color: $white;
  }

  @media screen and (max-width: 1005px) {
    display: block;
  }
}